<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Pokedex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertServlet</display-name>
    <servlet-name>insertServlet</servlet-name>
    <servlet-class>pack.insertServlet</servlet-class>
    <multipart-config>
      <location>C:\Users\Pichau\Desktop\pokemons</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertServlet</servlet-name>
    <url-pattern>/insertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>pack.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImages</display-name>
    <servlet-name>getImages</servlet-name>
    <servlet-class>pack.getImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImages</servlet-name>
    <url-pattern>/getImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PokemonConfig</display-name>
    <servlet-name>PokemonConfig</servlet-name>
    <servlet-class>pack.PokemonConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokemonConfig</servlet-name>
    <url-pattern>/PokemonConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageProcessor</display-name>
    <servlet-name>ImageProcessor</servlet-name>
    <servlet-class>pack.ImageProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageProcessor</servlet-name>
    <url-pattern>/ImageProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProcess</display-name>
    <servlet-name>SearchProcess</servlet-name>
    <servlet-class>pack.SearchProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProcess</servlet-name>
    <url-pattern>/SearchProcess</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>pokedexViewPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomSearch</display-name>
    <servlet-name>CustomSearch</servlet-name>
    <servlet-class>pack.CustomSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomSearch</servlet-name>
    <url-pattern>/CustomSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProcessNames</display-name>
    <servlet-name>SearchProcessNames</servlet-name>
    <servlet-class>pack.SearchProcessNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProcessNames</servlet-name>
    <url-pattern>/SearchProcessNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProcessTypes</display-name>
    <servlet-name>SearchProcessTypes</servlet-name>
    <servlet-class>pack.SearchProcessTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProcessTypes</servlet-name>
    <url-pattern>/SearchProcessTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>pack.CatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/CatalogServlet</url-pattern>
  </servlet-mapping>
</web-app>